#post-mask{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background: rgba(250, 250, 250, 0);
	z-index: 1500;
}
#post-panel{
	position: absolute;
	top:50px;
	left:220px;
	z-index: 2000;
	width: 800px;
	max-height: 600px;
	background:rgba(0,0,0,.1);
	border-radius: 10px;
	padding:15px;
	padding-top: 0;
}
#editor{
	background: #fff;
	border-radius: 5px;
	padding:5px;
	min-height: 200px;
	max-height: 350px;
	overflow: auto;
	margin-bottom: 5px;
}
#post-panel label{
	color:#aaa;
}
.post-animation{
	transform-origin:1250px 50px;
}
@-webkit-keyframes animationView-enter{
	from{opacity: .5;
		transform:scale(0);} 
	to {opacity: 1;
	    transform:scale(1);}
}
@-webkit-keyframes animationView-leave{
	from{opacity: 1;
		transform:scale(1);} 
	to {opacity: .5;
		transform:scale(0);}
}
.post-animation.ng-enter{
	-webkit-animation: .5s ease-in animationView-enter;
}
.post-animation.ng-leave{
	-webkit-animation: .5s ease-out animationView-leave;
}
#post-tags{
	padding-left:5px;
	padding-right: 5px;
	margin-bottom: 0;
	list-style: none;
	overflow: hidden;
	height: 40px;
}
#post-tags li{
	font-size: 16px;
	color:#555;
	display: inline-block;
	padding: 5px;
	background: #eff6fa;
	border-radius: 20px;
	margin-right: 5px;
}
#post-tags li a{
	color:#259;
}











